body{
    background: url(./image/bg3.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}
p{
    color:white;
}
#one{
    color: blue;
}
#two{
    color: black;
}
#three{
    color:red;
}