body{
    background:color(white);
    background-size: cover;
    background-position: center;
    height: 100%;
}
p{
    color:black;
}
#one{
    color: blue;
}
#two{
    color: black;
}
#three{
    color:red;
}